[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
innodb_flush_log_at_trx_commit = 0
# Disabling symbolic-links is recommended to prevent assorted security risks
thread-cache-size               = 300
table-open-cache                = 9068
table-definition-cache          = 4096
query-cache-size                = 128M
query-cache-limit               = 1M
sort-buffer-size                = 16M
read-buffer-size                = 16M
read-rnd-buffer-size            = 16M
join-buffer-size                = 16M
long_query_time = 1
expire_logs_day = 7
symbolic-links=0
character-set-server=latin1
slow_query_log           = 1
long-query-time          = 1
slow_query_log_file      = /var/log/mysql/slow.log
init_connect='SET SQL_SAFE_UPDATES=on'
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
default-time_zone = '-4:00'
SQL_SAFE_UPDATES = on
tmp-table-size                  = 256M
max-heap-table-size             = 256M
back-log                        = 900
max-connections                = 1500
max-connect-errors              = 10000
max-allowed-packet              = 16M
interactive-timeout             = 3600
wait-timeout                    = 20
key-buffer-size                 = 5120M
myisam-sort-buffer-size         = 
open-files-limit                = 65535
[mysql]
no-auto-rehash
